<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: aquamarine;
        }
        button{
            color: blueviolet;
        }
        h3{
            color: darkmagenta;
        }
    </style>
</head>
<body>
    <center>
        <form method="post">
            <h3>Create Your Notes</h3>
            <label >Title:</label>
            <input type="text" name="title"><br><br>
            <label >Content:</label>
            <textarea name="content"  cols="mr-auto" rows="mr-auto"></textarea><br><br>
            <!-- <input type="text" name="content" ><br><br> -->
            <label >Added_By:</label>
            <input type="text" name="added"><br><br>
            <button>create</button>
        </form>
    </center>
</body>
</html>