<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <center>{{ message }}</center>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
    <center>
    <form method="post">
        <h2>This is my login page</h2>
    <label for="">Username:</label>
    <input type="email" name="D@TT@" placeholder="Plz mention ur registered mail"><br><br>
    <label for="">Password</label>
    <input type="password" name="pwd"><br><br>
    <button>login</button>
    </form>
    <a href="{{url_for('reset')}}"><button>Forgot password</button></a>
</center>
</body>
</html>